h1 {
    color: white;
    font-size: 59px;
    font-family: sans-serif;
}
p {
    color: yellow;
    margin-top: -49px;
    margin-left: 10px;
}

p1 {
    color: azure;
    
    margin-left: 10px;
    
}
 img {
     width: 100%;
 }